<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <link href="/css/stylesPrev.css" rel="stylesheet" />
    </head>

    <body>
        <div th:replace="fragments/bodyHeader :: bodyHeader" />

        <div class="container">
            <p class="lead mb-0 text-muted">로그인 양식</p>
            <form action="/members/login" method="post"><!--값을 입력할 수 있게하는 툴-->
                <div class="form-group">
                    <div class="card-header">이메일</div>
                    <input type="text" id="email" name="email" placeholder="이메일을 입력하세요", style="width:300px;">
                </div>

                <div class="form-group">
                    <div class="card-header">비밀번호</div>
                    <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요", style="width:300px;">
                </div>

                <div class="form-group">
                    <input type="hidden" id="latitude" name="latitude" placeholder="latitude를 입력하세요", style="width:300px;">
                </div>

                <div class="form-group">
                    <input type="hidden" id="longitude" name="longitude" placeholder="longitude를 입력하세요", style="width:300px;">
                </div>

                <button class="btn btn-primary" type="submit">로그인</button><!--form action method에 따라 post 수행-->
            </form>

            <div th:replace="fragments/footer :: footer" />
        </div>
    </body>
</html>

<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f0b2461641fe36bfad41a885e385288f&libraries=services"></script>

<script th:inline="javascript">
    function error(err){
        alert("cannot use GPS api");
    }
    function nearVolunGPS() {//kakaoAPI사용여부 체크
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(sendLatLng, error);
        } else {
            loc.innerHTML = "이 문장은 사용자의 웹 브라우저가 Geolocation API를 지원하지 않을 때 나타납니다!";
        }
    }

    function sendLatLng(position) {
        let form_={//현위치 불러오기
            longitude: position.coords.longitude,
            latitude: position.coords.latitude
        }
        var buffer=document.getElementById("latitude");
        buffer.value=position.coords.latitude;
        buffer=document.getElementById("longitude");
        buffer.value=position.coords.longitude;
    }
    nearVolunGPS();
</script>