<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <form action="/volun/createRequest" method="post"><!--값을 입력할 수 있게하는 툴-->
        <div class="form-group">
            <label for="exectime">봉사시간</label>
            <input type="text" id="exectime" name="exectime" placeholder="0000.00.00.00.00">
        </div>

        <div class="form-group">
            <label for="address">주소</label>
            <input type="text" id="address" name="address" placeholder="원하시는 봉사장소를 입력하세요">
        </div>

        <button type="submit">등록</button><!--form action method에 따라 post 수행-->
    </form>
</div>
</body>
</html>