<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#(Request)</th>
                <th>요청한 유저 이름</th>
                <th>요청 시간</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="request : ${requests}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.userR.name}"></td><!--Member의 프로퍼티가 private지만 게터세터로 알아서 접근-->
                <td th:text="${user.reqtime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>