<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/stylesPrev.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><img class="logo1" src="images/LOGO1.PNG" width="auto" height="50" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">홈</a></li>
                        <li th:if="${user.isEmpty()}" class="nav-item"><a class="nav-link" href="/members/login">로그인</a></li>
                        <li th:if="${user.isEmpty()}" class="nav-item" ><a class="nav-link" href="/members/register">회원가입</a></li>
                        <li th:if="${user.isPresent()}" class="nav-item" ><a class="nav-link" href="/volun/createRequest">요청하기</a></li>
                        <li th:if="${user.isPresent()}" class="nav-item" ><a class="nav-link" href="/volun/requestList">요청리스트</a></li>
                        <li th:if="${user.isPresent()}" class="nav-item" ><a class="nav-link" href="/volun/acceptList">봉사리스트</a></li>
                        <li th:if="${user.isPresent()}" class="nav-item" ><a class="nav-link" href="/members/logout">로그아웃</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/members/list">회원목록</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">세모봉</h1>
                    <p class="lead mb-0">세상의 모든 봉사</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://kr.img.news.koreanair.com/wp-content/uploads/2020/04/160416_%EC%9E%A5%EC%95%A0%EC%9D%B8%EC%9D%98%EB%82%A0-%EB%B4%89%EC%82%AC%ED%99%9C%EB%8F%99-2.jpg" width="800" height="auto" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">June 28, 2022</div>
                            <h2 class="card-title">세모봉의 첫번째 시작</h2>
                            <p class="card-text">이음팀의 비전, 목표로 부터 지금까지 이어지고 있는 이야기를 들려드립니다.</p>
                            <a class="btn btn-primary" href="introducePage">더보기 →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4" th:if="${reviewSize ge 1}">
                                <a href="#!"><img class="card-img-top" src="https://developers.kakao.com/static/images/pc/product/detail/map.png" width="800" height="auto" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">June 28, 2022</div>
                                    <td th:text="${reviews.get(0).title}" class="card-title h4"></td>
                                    <td th:text="${reviews.get(0).content}" class="card-text"></td>
                                    <a href="#" th:href="@{/review/detail/{reviewid} (reviewid=${reviews.get(0).id})}"
                                       class="btn btn-primary" role="button">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4" th:if="${reviewSize ge 2}">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">더보기 →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4" th:if="${reviewSize ge 3}">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4" th:if="${reviewSize ge 4}">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2022</div>
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">검색</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="원하시는 내용을 입력해주세요." aria-label="원하시는 내용을 입력해주세요." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">찾기</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4" th:if="${user.isPresent()}">
                        <div class="card-header">카테고리</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">추천</a></li>
                                        <li><a href="#!">지역</a></li>
                                        <li><a href="/kakaomap">지도</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">급구</a></li>
                                        <li><a href="/mypage/recentHistory">최근내역</a></li>
                                        <li><a href="#!">봉사지수</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4" th:if="${user.isPresent()}">
                        <div class="card-header">당신의 봉사지수, 너의 이야기를 들려줘</div>
                        <div class="card-body">이번달 봉사지수: 0 <br>이번연도 봉사지수: 0 <br>나의 포인트: 0</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>

</html>