<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Made Three</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon.ico">

        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/slick-theme.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/iconfont.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/bootsnav.css">



        <!--For Plugins external css-->
        <link rel="stylesheet" href="css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="css/responsive.css" />

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse" data-offset="100">


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default bootsnav navbar-fixed no-background white">

                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->


                <div class="container"> 
                    <div class="attr-nav">
                        <ul>
                            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div> 

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#brand">
                            <img src="images/pureLogo.png" class="logo" alt="">
                            <!--<img src="images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#home">메인</a></li>
                            <li><a href="#features">설명</a></li>
                            <li><a href="#service">서비스</a></li>
                            <li><a href="#portfolio">우수봉사</a></li>
                            <li><a href="#test">협업사</a></li>
                            <li><a href="#contact">연락</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div> 

            </nav>

            <!--Home Sections-->

            <section id="home" class="home bg-black fix">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center">
                            <div class="col-md-12">
                                <div class="hello">
                                    <div class="slid_item">
                                        <div class="home_text ">
                                            <h1 class="text-yellow text-uppercase">triangle_stick</h1>
                                            <h3 class="text-white text-uppercase">세상의 모든 봉사 </h3>
                                        </div>
                                    </div><!-- End off slid item -->

                                </div>
                            </div>

                        </div>


                        <a class="mouse-scroll" href="#about"> 
                            <span class="mouse">
                                <span class="mouse-movement"></span>
                            </span>
                            <span class="mouse-message fadeIn">시작합니다</span> <br />
                            <!--<i class="fa fa-angle-down m-top-10 fadeIn mouse-message"></i>--> 
                        </a>

                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->



            <!--About Section-->
            <section id="about" class="about bg-yellow roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_about text-center">
                                <h1 class="text-black">봉사와 사회의 선순환 </h1>
                                <h2 class="text-white">- & -</h2>
                                <h3 class="text-black text-uppercase">취약계층의 불편함 해소, 지역사회 문제해결을 목표로 합니다.</h3>

                                <a href="" class="btn btn-primary m-top-100">눌러보세요!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <!--Featured Section-->
            <section id="features" class="features bg-white">
                <div class="container">
                    <div class="row">
                        <div class="main_features fix roomy-70">

                            <div class="col-md-5">
                                <div class="features_item">
                                    <div class="head_title">
                                        <h2 class="text-uppercase">우리의 <strong>목표</strong></h2>
                                    </div>
                                    <div class="featured_content">
                                        <p>이음팀은 세모봉을 이용한 단순한 서비스 개발이 아닌, 지역사회의 문제해결을 목표로 합니다. 인근지역의 봉사요청, 수락의 선순환을 통해 해당 지역의 취약계층의 고질적인 어려움을 해결하고,
                                            기업의 잉여생산물을 통해 해당 선순환을 촉진하여 기업과 정부, 시민의 협력관계인 지역복지동동체의 활성화와 같은 사회적 이익을 창출합니다.
                                            모두가 함께 보다 나은 내일을 꿈꿀 수 있는 사회를 여러분과 함께 그려나가고자 합니다.</p>

                                        <a href="" class="btn btn-default m-top-40">더보기</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-offset-1 sm-m-top-50">
                                <div class="features_item2_area">
                                    <div class="features_item2 text-center">
                                        <div class="divider_horizontal"></div>
                                        <div class="divider_vertical"></div>
                                        <div class="col-xs-6">
                                            <div class="features_item_text">
                                                <img src="images/featured1.jpg" alt="" class="img-circle" />
                                                <p class="m-top-20">봉사 활동</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="features_item_text">
                                                <img src="images/featured2.jpg" alt="" class="img-circle" />
                                                <p class="m-top-20">잉여 생산물</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="features_item_text m-top-50">
                                                <img src="images/featured3.jpg" alt="" class="img-circle" />
                                                <p class="m-top-20">지역사회 문제</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="features_item_text m-top-50">
                                                <img src="images/featured4.jpg" alt="" class="img-circle" />
                                                <p class="m-top-20">국내 봉사포털 통합</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Featured Section-->


            <!--Business Section-->
            <section id="service" class="service bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_service">
                            <div class="col-md-6">
                                <div class="service_slid">
                                    <div class="slid_shap bg-yellow"></div>
                                    <div class="service_slid_item text-center">
                                        <div class="service_slid_text">
                                            <span class="icon icon icon-tools text-black"></span>
                                            <h5 class="text-black m-top-20">봉사요청</h5>
                                        </div>
                                        <div class="service_slid_text">
                                            <span class="icon icon icon-sports-2 text-black"></span>
                                            <h5 class="text-black m-top-20">봉사수락</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <div class="service_item sm-m-top-50">
                                    <div class="head_title">
                                        <h2 class="text-uppercase">우리의 <strong>서비스</strong></h2>
                                    </div>
                                    <div class="service_content">
                                        <p>카카오맵 API를 이용하여 인근 지역의 봉사요청들을 확인할 수 있습니다. 자유롭게 희망하는 봉사를 선택이 가능하며 봉사활동 이후
                                            리뷰결과를 개인 봉사지수에 반영합니다. 봉사자와 피봉사자의 안전성을 위하여 오전 8시 ~ 오후 5시 시간대에만 봉사활동이 가능합니다.</p>

                                        <a href="/" class="btn btn-default m-top-40">더보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off Business section -->


            <!--Team And Skill Section-->
            <section id="teams" class="teams roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="main_teams_content fix">
                            <div class="col-md-6">
                                <div class="teams_item">
                                    <div class="head_title">
                                        <h2 class="text-uppercase">우리의 <strong>팀원들</strong></h2>
                                    </div>
                                    <p>지역사회문제의 해결, 고질적인 교육문제의 해결, 모든 사회 구성원의 행복, 효율적인 사회의 구축 등의 각자의 비전을 가지고 있는 여러 팀원들이 모여
                                    그 비전을 서비스 개발을 통해 하나씩 해결하고 있습니다. 각자가 잘할 수 있는 역활들을 수행하며 서로 상호보완하는 우리 이음팀을 소개합니다.</p>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="teams_item text-center sm-m-top-50">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="images/team1.jpg" alt="" class="img-circle" />
                                            <h4 class="m-top-20">태안 <strong>김</strong></h4>
                                            <h5>CEO</h5>
                                            <div class="separator"></div>
                                            <ul class="list-inline">
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div><!-- End off col-md-4 -->
                                        <div class="col-sm-4">
                                            <img src="images/team2.jpg" alt="" class="img-circle" />
                                            <h4 class="m-top-20">지웅 <strong>최</strong></h4>
                                            <h5>CTO</h5>
                                            <div class="separator"></div>
                                            <ul class="list-inline">
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div><!-- End off col-md-4 -->
                                        <div class="col-sm-4">
                                            <img src="images/team3.jpg" alt="" class="img-circle" />
                                            <h4 class="m-top-20">군가 <strong>누</strong></h4>
                                            <h5>CMO</h5>
                                            <div class="separator"></div>
                                            <ul class="list-inline">
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div><!-- End off col-md-4 -->
                                    </div>
                                </div>
                            </div><!-- End off col-md-6 -->
                        </div><!-- End off main Team -->

                        <div class="col-md-12">
                            <div class="skill">
                                <div class="team_content_details_skills m-top-50">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="30%">
                                                <label>국내 봉사포털 점유율</label>
                                                <div class="teamskillbar-bar" style="width: 80%;"></div>
                                            </div> <!-- End Skill Bar -->

                                            <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="75%">
                                                <label>사회적 기업의 참여율</label>
                                                <div class="teamskillbar-bar" style="width: 75%;"></div>
                                            </div> <!-- End Skill Bar -->
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="90%">
                                                <label>세모봉 봉사지수</label>
                                                <div class="teamskillbar-bar" style="width: 90%;"></div>
                                            </div> <!-- End Skill Bar -->

                                            <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="47%">
                                                <label>세모봉 비전</label>
                                                <div class="teamskillbar-bar" style="width: 98%;"></div>
                                            </div> <!-- End Skill Bar -->
                                        </div>

                                    </div>
                                </div>
                            </div><!-- End off skill -->
                        </div><!-- End col-md-12 -->
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Team & Skill section -->


            <!--Choose section-->
            <section id="choose" class="choose bg-grey roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="main_choose">
                            <div class="col-md-6">
                                <div class="choose_mac">
                                    <div class="choose_slide">
                                        <div class="choose_item">
                                            <img src="images/choose-img1.png" alt="" />
                                        </div>
                                        <div class="choose_item">
                                            <img src="images/choose-img1.png" alt="" />
                                        </div>
                                        <div class="choose_item">
                                            <img src="images/choose-img1.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-6 -->

                            <div class="col-md-5 col-md-offset-1">
                                <div class="choose_content sm-m-top-40">
                                    <div class="head_title">
                                        <h2 class="text-uppercase">세모봉의 <strong>매력</strong></h2>
                                    </div>
                                    <div class="choose_item_text fix">
                                        <h6><i class="fa fa-check-square-o"></i> 위치기반 봉사활동.</h6>
                                        <p>언제 어디서든 쉽게 봉사요청과 수락이 가능합니다. </p>
                                    </div>
                                    <div class="choose_item_text fix m-top-20">
                                        <h6><i class="fa fa-check-square-o"></i> 봉사지수.</h6>
                                        <p>봉사활동 이후 작성한 리뷰결과를 개개인의 봉사지수에 반영합니다. </p>
                                    </div>
                                    <div class="choose_item_text fix m-top-20">
                                        <h6><i class="fa fa-check-square-o"></i> 8~17제.</h6>
                                        <p>봉사활동의 안전성을 위하여 오전 8시부터 오후 5시까지의 봉사활동만 이루어집니다. </p>
                                    </div>
                                    <div class="choose_item_text fix m-top-20">
                                        <h6><i class="fa fa-check-square-o"></i> 마일리지 적립.</h6>
                                        <p>봉사활동시 누적되는 마일리지를 이용하여 화장품을 구매할 수 있습니다. </p>
                                    </div>
                                </div>
                            </div><!-- End off col-md-6 -->
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off choose section -->


            <!--Portfolio Section-->



            <section id="portfolio" class="portfolio margin-top-120">

                <!-- Portfolio container-->
                <div class="container">
                    <div class="row">
                        <div class="main-portfolio roomy-80">

                            <div class="col-md-4">
                                <div class="head_title text-left sm-text-center wow fadeInDown">
                                    <h2>이달의 우수봉사</h2>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="filters-button-group text-right sm-text-center">
                                    <button class="btn button is-checked" data-filter="*">전체보기</button>
                                    <button class="btn button" data-filter=".metal">봉사자 리뷰</button>
                                    <button class="btn button" data-filter=".transition">피봉사자 리뷰</button>
                                    <button class="btn button" data-filter=".alkali">내사 활동</button>
                                    <button class="btn button" data-filter=".ar">외사 활동</button>
                                </div>
                            </div>



                            <div style="clear: both;"></div>

                            <div class="grid text-center">

                                <div class="grid-item transition metal ium">
                                    <img alt="" src="images/porfolio-1.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="girid_hover_text m-top-110">
                                            <h4 class="text-white">Your Work Title</h4>
                                            <p class="text-white">- Business Card, Branding</p>
                                            <a href="images/porfolio-1.jpg" class="btn btn-primary popup-img">View Project</a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                                <div class="grid-item metalloid " >
                                    <img alt="" src="images/porfolio-2.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="girid_hover_text m-top-180">
                                            <h4 class="text-white">Your Work Title</h4>
                                            <p class="text-white">- Business Card, Branding</p>
                                            <a href="images/porfolio-2.jpg" class="btn btn-primary popup-img">View Project</a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                                <div class="grid-item post-transition metal numberGreaterThan50">
                                    <img alt="" src="images/porfolio-3.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="girid_hover_text m-top-50">
                                            <h4 class="text-white">Your Work Title</h4>
                                            <p class="text-white">- Business Card, Branding</p>
                                            <a href="images/porfolio-3.jpg" class="btn btn-primary popup-img">View Project</a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                                <div class="grid-item post-transition metal ium" >
                                    <img alt="" src="images/porfolio-4.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="girid_hover_text m-top-180">
                                            <h4 class="text-white">Your Work Title</h4>
                                            <p class="text-white">- Business Card, Branding</p>
                                            <a href="images/porfolio-4.jpg" class="btn btn-primary popup-img">View Project</a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                                <div class="grid-item metal ar" >
                                    <img alt="" src="images/porfolio-5.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="girid_hover_text m-top-110">
                                            <h4 class="text-white">Your Work Title</h4>
                                            <p class="text-white">- Business Card, Branding</p>
                                            <a href="images/porfolio-5.jpg" class="btn btn-primary popup-img">View Project</a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                                <div class="grid-item alkali ar" >
                                    <img alt="" src="images/porfolio-6.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="girid_hover_text m-top-50">
                                            <h4 class="text-white">Your Work Title</h4>
                                            <p class="text-white">- Business Card, Branding</p>
                                            <a href="images/porfolio-6.jpg" class="btn btn-primary popup-img">View Project</a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                            </div>



                            <div style="clear: both;"></div>


                        </div>
                    </div>
                </div><!-- Portfolio container end -->
            </section><!-- End off portfolio section -->



            <!--Test section-->
            <section id="test" class="test bg-grey roomy-60 fix">
                <div class="container">
                    <div class="row">                        
                        <div class="main_test fix">
                            <div class="col-md-6">
                                <div class="cbrand text-center">
                                    <div class="divider_horizontal"></div>
                                    <div class="divider_vertical"></div>
                                    <div class="col-xs-6">
                                        <div class="cbrand_item">
                                            <img src="images/cbrand-1.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="cbrand_item">
                                            <img src="images/cbrand-2.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="cbrand_item m-top-40">
                                            <img src="images/cbrand-3.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="cbrand_item m-top-40">
                                            <img src="images/cbrand-4.png" alt="" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 sm-m-top-40">
                                <div class="test_item1 fix ">
                                    <div class="head_title fix">
                                        <h2 class="text-uppercase">동참중인 <strong>협업사</strong></h2>
                                    </div>
                                    <div class="item_img">
                                        <img class="img-circle" src="images/test-img1.jpg" alt="" />
                                        <i class="fa fa-quote-left"></i>
                                    </div>

                                    <div class="item_text">
                                        <h5>Sarah Smith</h5>
                                        <h6>envato.com</h6>

                                        <p>자사의 제품을 이용하여 봉사의 선순환, 사회의 선순환을 이루어내길 응원합니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off test section -->

            <footer id="contact" class="footer action-lage bg-black p-top-80">
                <!--<div class="action-lage"></div>-->
                <div class="container">
                    <div class="row">
                        <div class="widget_area">
                            <div class="col-md-3">
                                <div class="widget_item widget_about">
                                    <h5 class="text-white">이음팀</h5>
                                    <p class="m-top-30">봉사활동 서비스 세모봉을 제공하는 팀입니다. 자유로운 피드백과 연락부탁드립니다.</p>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-location-arrow"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">위치</h6>
                                            <p> 경기도 성남시 수정구 성남대로 1342 IT융합대학 </p>
                                        </div>
                                    </div>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-phone"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">전화번호 :</h6>
                                            <p>+1 2345 6789</p>
                                        </div>
                                    </div>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-envelope-o"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">이메일 :</h6>
                                            <p>trianglestick0628@mail.com</p>
                                        </div>
                                    </div>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3">
                                <div class="widget_item widget_latest sm-m-top-50">
                                    <h5 class="text-white">최근 소식</h5>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="assets/images/ltst-img-1.jpg" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>세모봉 기획안 작성</p>
                                            <a href="">28<sup>th</sup> June 2022</a>
                                        </div>
                                    </div>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="images/ltst-img-2.jpg" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>서비스 스켈레톤 업로드</p>
                                            <a href="">05<sup>th</sup> October 2022</a>
                                        </div>
                                    </div>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="images/ltst-img-3.jpg" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>프로토타입 완성</p>
                                            <a href="">11<sup>th</sup> December 2022</a>
                                        </div>
                                    </div>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3">
                                <div class="widget_item widget_service sm-m-top-50">
                                    <h5 class="text-white">최근 소식</h5>
                                    <ul class="m-top-20">
                                        <li class="m-top-20"> <a href="#"><i class="fa fa-angle-right"></i> 이음팀</a></li>
                                        <li class="m-top-20"> <a href="#"><i class="fa fa-angle-right"></i> 세모봉</a></li>
                                        <li class="m-top-20"> <a href="#"><i class="fa fa-angle-right"></i> 협업사 체결</a></li>
                                        <li class="m-top-20"> <a href="#"><i class="fa fa-angle-right"></i> 공지사항</a></li>
                                        <li class="m-top-20"> <a href="#"><i class="fa fa-angle-right"></i> 데이터 분석</a></li>
                                    </ul>

                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3">
                                <div class="widget_item widget_newsletter sm-m-top-50">
                                    <h5 class="text-white">뉴스레터 구독</h5>
                                    <form class="form-inline m-top-30">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="이메일을 입력해주세요">
                                            <button type="submit" class="btn text-center"><i class="fa fa-arrow-right"></i></button>
                                        </div>

                                    </form>
                                    <div class="widget_brand m-top-40">
                                        <a href="" class="text-uppercase">세모봉</a>
                                        <p>보다 나은 내일을 꿈꾸는 사회를 만들어갑니다.</p>
                                    </div>
                                    <ul class="list-inline m-top-20">
                                        <li>-  <a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                                        <li><a href=""><i class="fa fa-dribbble"></i></a>  - </li>
                                    </ul>

                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->
                        </div>
                    </div>
                </div>
                <div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
                    <div class="col-md-12">
                        <p class="wow fadeInRight" data-wow-duration="1s">
                            Made with 
                            <i class="fa fa-heart">세모봉</i>
                            by 
                            <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a> 
                            2022. All Rights Reserved
                        </p>
                    </div>
                </div>
            </footer>




        </div>

        <!-- JS includes -->

        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/jquery.magnific-popup.js"></script>
        <!--<script src="js/jquery.easypiechart.min.js"></script>-->
        <script src="js/jquery.easing.1.3.js"></script>
        <!--<script src="js/slick.js"></script>-->
        <script src="js/slick.min.js"></script>
        <script src="js/js.isotope.js"></script>
        <script src="js/jquery.collapse.js"></script>
        <script src="js/bootsnav.js"></script>

        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
