<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div id="map" style="width:750px;height:350px;"></div>

    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>

<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f0b2461641fe36bfad41a885e385288f&libraries=services"></script>
<script th:inline="javascript">
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.56622714621121, 126.97793436924096), // 지도의 중심좌표
        level: 8 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
showMarkers();

function showMarkers(){
    /*<![CDATA[*/
    var addresses=/*[[${addresses}]]*/;
    var ids=/*[[${ids}]]*/;
    /*]]>*/

    //지리코더
    var geocoder = new kakao.maps.services.Geocoder();

    for (var index=0; index<addresses.length; index++){
        var currentIndex=index;
        //주소->경위도
        geocoder.addressSearch(addresses[index], function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
	            var location=new kakao.maps.LatLng(result[0].y, result[0].x);

	            //마커생성
                var marker = new kakao.maps.Marker({
		            map: map, // 마커를 표시할 지도
		            position: location,
	            });


	            //인포윈도우 생성
                var infowindow = new kakao.maps.InfoWindow({
    	            position: location,
                    content: '<div style="padding:5px;">request!</div>'// 인포윈도우에 표시할 내용
                });

                //이벤트 리스너 등록
                kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
                kakao.maps.event.addListener(marker, 'click', function() {
                    var url="http://"+window.location.host+"/volun/detailRequest/"+ids[currentIndex];
                    window.location.href=url;
                });
            }
        });
    }

}


// 인포윈도우를 표시하는 클로저를 만드는 함수입니다
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}


//<-------------개발도우미------------->
// 지도에 확대 축소 컨트롤을 생성한다
var zoomControl = new kakao.maps.ZoomControl();
// 지도의 우측에 확대 축소 컨트롤을 추가한다
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
</script>